{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load extras %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                <h3>Nombre del proyecto: {{proyecto}}</h3>
                <!--<form action="." method="GET" class="form-horizontal">
                    <label class="control-label">Seleccionar año:</label>
                    <select name="anio" id="anio" class="form-control col-md-6">
                        <option value="">---</option>
                        {% for obj in anio_poa %}
                        <option value="{{obj}}" {% if request.GET.anio %}selected{% endif %}>{{obj}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary pull-right waves-effect waves-light">Consultar</button>
                </form>-->
                <br>
			</div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <!-- Nav tabs -->
             
                <ul class="nav nav-tabs" role="tablist">
                {% for anio in dict_anios.keys %}
                    <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{anio}}" aria-controls="{{anio}}" role="tab" data-toggle="tab">{{anio}}</a></li>
                {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% for anio,poa in dict_anios.items %}
                    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{anio}}">
                        {% for key,value in poa.items %}
                        <h4>Efecto {{key.identificador}}: {{key.descripcion}}</h4>
                        <div class="table-responsive" id="tabla1">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                    <th scope="col">Productos</th>
                                    <th scope="col">Identificador</th>
                                    <th scope="col">Actividades</th>
                                    <th scope="col">Semestre I</th>
                                    <th scope="col">Semestre II </th>
                                    <th scope="col">Monto presupestado</th>
                                    <th scope="col">Monto ejecutado I Semestre</th>
                                    <th scope="col">Monto ejecutado final de año</th>
                                    <th scope="col">% ejecución I Semestre</th>
                                    <th scope="col">% Ejecución anual</th>
                                    <th scope="col">Actores</th>
                                    <th scope="col">Fecha de finalización</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for k,v in value.items %}
                                    <tr>
                                        <td rowspan="{{v.count}}">Producto {{k.identificador}}: {{k.descripcion}}</td>
                                        {% for x in v|slice:"1" %}
                                        <td>{{x.indicador.identificador}}</td>
                                        <td>{{x.indicador.descripcion}}</td>
                                        <td>{% if x.semestre_1 == True %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                        <td>{% if x.semestre_2 == True %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                        <td>{{x.monto_presupuestado|intcomma}}</td>
                                        <td>{{x.monto_semestre_1|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_final_anio|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_semestre_1|porcentaje:x.monto_presupuestado|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_final_anio|porcentaje:x.monto_presupuestado|default:"---"|intcomma}}</td></td>
                                        <td>{% for actor in x.actores.all %}{{actor}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                                        <td>{{x.fecha_finalizacion}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% for x in v|slice:"1:" %}
                                    <tr>
                                        <td>{{x.indicador.identificador}}</td>
                                        <td>{{x.indicador.descripcion}}</td>
                                        <td>{% if x.semestre_1 == True %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                        <td>{% if x.semestre_2 == True %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                                        <td>{{x.monto_presupuestado|intcomma}}</td>
                                        <td>{{x.monto_semestre_1|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_final_anio|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_semestre_1|porcentaje:x.monto_presupuestado|default:"---"|intcomma}}</td>
                                        <td>{{x.monto_final_anio|porcentaje:x.monto_presupuestado|default:"---"|intcomma}}</td></td>
                                        <td>{% for actor in x.actores.all %}{{actor}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                                        <td>{{x.fecha_finalizacion}}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            
            </div>
		</div>
	</div>
</div>
{% endblock content %}