{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load extras %}

{% block content %}
<style media="screen">
  td, th {
    font-size: 14px !important;
  }
</style>
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                <h3>Nombre del proyecto: {{proyecto.nombre}}</h3>
                <br>
			</div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <!-- Nav tabs -->

                <ul class="nav nav-tabs" role="tablist">
                {% for anio in dict_anios.keys %}
                    <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{anio}}" aria-controls="{{anio}}" role="tab" data-toggle="tab">{{anio}}</a></li>
                {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% for anio,poa in dict_anios.items %}
                    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{anio}}">
                        {% for key,value in poa.items %}
                        <div class="text-right m-t-20">
                              <a href="" class="btn btn-primary waves-effect waves-light" onclick="exportarXLS('tabla{{forloop.counter}}'); return false;">Exportar tabla</a>
                        </div>

                        <div class="table-responsive" id="tabla{{forloop.counter}}">
                          <h4>Efecto {{key.identificador}}: {{key.descripcion}}</h4>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">Acciones</th>
                                        <th scope="col">Semestre I</th>
                                        <th scope="col">Semestre II </th>
                                        <th scope="col">Monto presupestado</th>
                                        <th scope="col">Monto modificado</th>
                                        <th scope="col">Insumos</th>
                                        <th scope="col">Actores</th>
                                        <th scope="col">Responsables</th>
                                        <th scope="col">Meses planificado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for k,v in value.items %}
                                    <tr class="info">
                                        <td colspan="10">Producto {{k.identificador}} {{k.descripcion}}</td>
                                    </tr>
                                    {% for x,y in v.items %}
                                    <tr class="warning">
                                        <td>Actividad {{x.0.identificador}}</td>
                                        <td>{{x.0.descripcion}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{x.1|default:"---"|intcomma}}</td>
                                        <td>{{x.2|default:"---"|intcomma}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                      {% for sub_act in y.values %}
                                        <tr>
                                            <td>{{sub_act.identificador}}</td>
                                            <td>{{sub_act.descripcion}}</td>
                                            <td>{% if sub_act.semestre_1 == True %}<b>x</b>{% endif %}</td>
                                            <td>{% if sub_act.semestre_2 == True %}<b>x</b>{% endif %}</td>
                                            <td>{{sub_act.monto_presupuestado|intcomma}}</td>
                                            <td>{{sub_act.total|intcomma}}</td>
                                            <td>{{sub_act.insumos|default:"---"}}</td>
                                            <td>{{sub_act.actores|default:"---"}}</td>
                                            <td>{{sub_act.responsable|default:"---"}}</td>
                                            <td>{{sub_act.meses}}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}

                </div>

            </div>
		</div>
	</div>
</div>
{% endblock content %}
