{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active update" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Productores</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link update" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Organizaciones</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div id="gmaps-markers" class="gmaps"></div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div id="gmaps-markers2" class="gmaps"></div>
                    </div>
                </div>-->
                <h3>Nombre del proyecto: {{proyecto.nombre}}</h3>
                <div class="text-right m-t-20">
                      <a href="" class="btn btn-primary waves-effect waves-light" onclick="exportarXLS('tabla'); return false;">Exportar tabla</a>
                </div>
                <div class="table-responsive" id="tabla">
                  <table class="table table-bordered">
                  <caption><h4>Objetivos</h4></caption>
                    <thead>
                      <tr class="warning">
                        <th scope="col" style="width: 10%;">Niveles</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Identificador</th>
                        <th scope="col">Indicadores</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in objetivos %}
                        <tr class="warning">
                          <th rowspan="{{obj.indicadoresobjetivos_set.count}}">Objetivo {{obj.identificador}}</th>
                          <td style="width: 20%;" rowspan="{{obj.indicadoresobjetivos_set.count}}">{{obj.descripcion}}</td>
                          {% for indicador_obj in obj.indicadoresobjetivos_set.all|slice:"1" %}
                            <td>{{indicador_obj.identificador}}</td>
                            <td>{{indicador_obj.descripcion}}</td>
                          {% endfor %}
                      </tr>
                        {% for indicador_obj in obj.indicadoresobjetivos_set.all|slice:"1:"  %}
                        <tr class="warning">
                          <td>{{indicador_obj.identificador}}</td>
                          <td>{{indicador_obj.descripcion}}</td>
                        </tr>
                        {% endfor %}

                      {% endfor %}


                    </tbody>
                  </table>
                  <hr>
                  <table class="table table-bordered">
                  <caption><h4>Efectos y Productos</h4></caption>
                    <thead>
                      <tr class="info">
                        <th scope="col" style="width: 10%;">Niveles</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Identificador</th>
                        <th scope="col">Indicadores</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for obj in efectos %}
                      {% with forloop.counter as outer_counter %}
                        <tr class="{% if outer_counter == 1 %}info{% else %}success{% endif %}">
                          <th rowspan="{{obj.indicadoresefectos_set.count}}">Efecto {{obj.identificador}}</th>
                          <td style="width: 20%;" rowspan="{{obj.indicadoresefectos_set.count}}">{{obj.descripcion}}</td>
                          {% for indicador_efecto in obj.indicadoresefectos_set.all|slice:"1" %}
                            <td>{{indicador_efecto.identificador}}</td>
                            <td>{{indicador_efecto.descripcion}}</td>
                          {% endfor %}
                      </tr>
                        {% for indicador_efecto in obj.indicadoresefectos_set.all|slice:"1:"  %}
                        <tr class="{% if outer_counter == 1 %}info{% else %}success{% endif %}">
                          <td>{{indicador_efecto.identificador}}</td>
                          <td>{{indicador_efecto.descripcion}}</td>
                        </tr>
                        {% endfor %}

                        {% for producto in obj.producto_set.all %}
                          <tr class="{% if outer_counter == 1 %}info{% else %}success{% endif %}">
                            <td rowspan="{{producto.indicadoresproductos_set.count}}">Producto {{producto.identificador}}</td>
                            <td rowspan="{{producto.indicadoresproductos_set.count}}">{{producto.descripcion}}</td>
                            {% for indicador_producto in producto.indicadoresproductos_set.all|slice:"1" %}
                              <td>{{indicador_producto.identificador}}</td>
                              <td>{{indicador_producto.descripcion}}</td>
                            {% endfor %}
                          </tr>
                          {% for indicador_producto in producto.indicadoresproductos_set.all|slice:"1:"  %}
                            <tr class="{% if outer_counter == 1 %}info{% else %}success{% endif %}">
                              <td>{{indicador_producto.identificador}}</td>
                              <td>{{indicador_producto.descripcion}}</td>
                            </tr>
                        {% endfor %}
                        {% endfor %}

                      {% endwith %}
                      {% endfor %}

                    </tbody>
                  </table>
                  <hr>
                  <table class="table table-bordered">
                  <caption><h4>Actividades</h4></caption>
                    <thead>
                      <tr class="danger">
                        <th scope="col">Niveles</th>
                        <th scope="col">Identificador</th>
                        <th scope="col">Actividades</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for key,value in dict.items %}
                      <tr class="danger">
                        <td style="width: 30%;" rowspan="{{key.1}}">Producto {{key.0.identificador}}: {{key.0.descripcion}}</td>
                        {% for actividad in value|slice:"1" %}
                            <td>{{actividad.identificador}}</td>
                            <td>{{actividad.descripcion}}</td>
                          {% endfor %}
                         </tr>
                         {% for actividad in value|slice:"1:"|dictsort:"identificador" %}
                         <tr class="danger">
                            <td>{{actividad.identificador}}</td>
                            <td>{{actividad.descripcion}}</td>
                         </tr>
                          {% endfor %}
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
