{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-12">
                <h3>Nombre del proyecto: {{proyecto.nombre}}</h3>
            </div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                {% for anio in dict_anios.keys %}
                    <li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{anio}}" aria-controls="{{anio}}" role="tab" data-toggle="tab">{{anio}}</a></li>
                {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% for anio,values in dict_anios.items %}
                    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{anio}}">
                      <div class="text-right m-t-20">
                            <a href="" class="btn btn-primary waves-effect waves-light" onclick="exportarXLS('tabla{{forloop.counter}}'); return false;">Exportar tabla</a>
                      </div>
                      <br>
                      <div class="table-responsive" id="tabla{{forloop.counter}}">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Convenios de Colaboración</th>
                                        <th scope="col">Semestre I</th>
                                        <th scope="col">Semestre II</th>
                                        <th scope="col">Organización implementadora</th>
                                        <th scope="col">Paises de influencia</th>
                                        <th scope="col">Presupuesto Rikolto más socios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for v in values %}
                                      <tr>
                                          <td>{{v.proyecto}}</td>
                                          <td>{% if v.semestre_1 == True %}<b>x</b>{% endif %}</td>
                                          <td>{% if v.semestre_2 == True %}<b>x</b>{% endif %}</td>
                                          <td>{{v.org_implementadora}}</td>
                                          <td>{% for x in v.paises_influencia.all %}{{x}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                                          <td>{{v.monto_presupuestado|floatformat:2|intcomma}}</td>
                                      </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
