{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h1 class="text-center">Sistema de Monitoreo y Seguimiento de proyectos</h1>
            </div>
            <div class="col-md-12">
              <ul>
                {% for obj in proyectos %}
                <li><a href="{% url 'marco-logico' obj.id %}">{{obj.nombre}}</a></li>
                {% endfor %}
              </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}
