{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-body index-body">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>Nombre del proyecto: {{proyecto}}</h3>
				<div class="text-right m-t-20">
					<a href="" class="btn btn-primary waves-effect waves-light" onclick="exportarXLS('tabla'); return false;">Exportar tabla</a>
				</div>

				<div class="table-responsive" id="tabla">
					{% for obj in object %}
					<br>
					{% ifchanged %}<h4>Efecto: {{obj.efecto}}</h4>{% endifchanged  %}

					{% if obj.indefecto1_1_set.all %}
					<table class="table table-bordered">
						<caption>{{obj.indicador}}</caption>
						<thead>
							<tr>
								<th scope="col">Año de registro</th>
								<th scope="col">Semestre</th>
								<th scope="col">Número de productores adoptando BPA</th>
								<th scope="col">% de mujeres adoptando BPA</th>
								<th scope="col">% de Jovenes adoptando BPA</th>
								<th scope="col">Título y Fuente</th>
								<th scope="col">Url</th>
								<th scope="col">Archivo</th>
							</tr>
						</thead>
						<tbody>
							{% for x in obj.indefecto1_1_set.all %}
							<tr>
								<td>{{x.anio}}</td>
								<td>{{x.get_semestre_display}}</td>
								<td>{{x.numero_productores|default:'---'}}</td>
								<td>{{x.porcentaje_mujeres|default:'---'}}</td>
								<td>{{x.porcentaje_jovenes|default:'---'}}</td>
								<td>{{x.fuente|default:'---'}}</td>
								<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
								<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}

					{% if obj.indefecto1_2_set.all %}
					<table class="table table-bordered">
						<caption>{{obj.indicador}}</caption>
						<thead>
							<tr>
								<th scope="col">Año de registro</th>
								<th scope="col">Semestre</th>
								<th scope="col">Número de empresas implementando MNC</th>
								<th scope="col">Título y Fuente</th>
								<th scope="col">Url</th>
								<th scope="col">Archivo</th>
							</tr>
						</thead>
						<tbody>
							{% for x in obj.indefecto1_2_set.all %}
							<tr>
								<td>{{x.anio}}</td>
								<td>{{x.get_semestre_display}}</td>
								<td>{{x.numero_empresas|default:'---'}}</td>
								<td>{{x.fuente|default:'---'}}</td>
								<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
								<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}


					{% if obj.indefecto2_1_set.all %}
					<table class="table table-bordered">
						<caption>{{obj.indicador}}</caption>
						<thead>
							<tr>
								<th scope="col">Año de registro</th>
								<th scope="col">Semestre</th>
								<th scope="col">Nombre de Pólitica/Estrategia actualizada</th>
								<th scope="col">Descripción</th>
								<th scope="col">Estado de esfuerzo</th>
								<th scope="col">Título y Fuente</th>
								<th scope="col">Url</th>
								<th scope="col">Archivo</th>
							</tr>
						</thead>
						<tbody>
							{% for x in obj.indefecto2_1_set.all %}
							<tr>
								<td>{{x.anio}}</td>
								<td>{{x.get_semestre_display}}</td>
								<td>{{x.nombre_politica|default:'---'}}</td>
								<td>{{x.descripcion|default:'---'}}</td>
								<td>{{x.estado_esfuerzo|default:'---'}}</td>
								<td>{{x.fuente|default:'---'}}</td>
								<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
								<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
