{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				  {% for obj in object %}
				  	{% if obj.indefecto1_1_set.all %}
				  		<a href="" onclick="exportarXLS('tabla1'); return false;">Exportar</a>
		  				<div class="table-responsive" id="tabla1">
		                    <table class="table table-bordered">
		                    	<caption>{{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Año de registro</th>
			                        <th scope="col">Semestre</th>
			                        <th scope="col">Número de productores adoptando BPA</th>
			                        <th scope="col">% de mujeres adoptando BPA</th>
			                        <th scope="col">% de Jovenes adoptando BPA</th>
			                        <th scope="col">Fuente</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indefecto1_1_set.all %}
						  				<tr>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.numero_productores|default:'---'}}</td>
						  					<td>{{x.porcentaje_mujeres|default:'---'}}</td>
						  					<td>{{x.porcentaje_jovenes|default:'---'}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
						  					<td>{% if x.archivo %}<a href="{{x.archivo}}" download>Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}
		  			{% if obj.indefecto1_2_set.all %}
		  				<a href="" onclick="exportarXLS('tabla2'); return false;">Exportar</a>
		  				<div class="table-responsive" id="tabla2">
		                    <table class="table table-bordered">
		                    	<caption>{{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Año de registro</th>
			                        <th scope="col">Semestre</th>
			                        <th scope="col">Número de empresas implementando MNC</th>
			                        <th scope="col">Fuente</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indefecto1_2_set.all %}
						  				<tr>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.numero_empresas|default:'---'}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
						  					<td>{% if x.archivo %}<a href="{{x.archivo}}" download>Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

		  			{% if obj.indefecto2_1_set.all %}
		  				<a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a>
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>{{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Año de registro</th>
			                        <th scope="col">Semestre</th>
			                        <th scope="col">Nombre de Pólitica/Estrategia actualizada</th>
			                        <th scope="col">Descripción</th>
			                        <th scope="col">Estado de esfuerzo</th>
			                        <th scope="col">Fuente</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indefecto2_1_set.all %}
						  				<tr>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.nombre_politica|default:'---'}}</td>
						  					<td>{{x.descripcion|default:'---'}}</td>
						  					<td>{{x.estado_esfuerzo|default:'---'}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
						  					<td>{% if x.archivo %}<a href="{{x.archivo}}" download>Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}
				  {% endfor %}
             </div>
		</div>
	</div>
</div>
{% endblock content %}