{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>Nombre del proyecto: {{proyecto}}</h3>
				  {% for obj in object %}

					  {% ifchanged %}
					  	<br>
						<h4>Producto: {{obj.producto}}</h4>
					  {% endifchanged  %}

					  {% if obj.indproducto1_1_1_set.all %}
					  <br>
				  		<!-- <a href="" onclick="exportarXLS('tabla1'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla1">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_1_1_set.all %}
						  				<tr>
										  	<td>{{x.numero|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					  {% if obj.indproducto1_1_2_set.all %}
					  <br>
		  				<!-- <a href="" onclick="exportarXLS('tabla2'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla2">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_1_2_set.all %}
						  				<tr>
										  	<td>{{x.numero|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					  {% if obj.indproducto1_1_3_set.all %}
					  <br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
			                        <th scope="col">Número de comunidades de práctica en marcha</th>
			                        <th scope="col">Número de fincas pilotos en marcha</th>
			                        <th scope="col">Número de negocios inclusivos en marcha</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_1_3_set.all %}
						  				<tr>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.numero_comunidades|default:'---'}}</td>
						  					<td>{{x.numero_fincas|default:'---'}}</td>
						  					<td>{{x.numero_negocios|default:'---'}}</td>
											  <td>{{x.fuente|default:'---'}}</td>
											  <td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_2_1_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_2_1_set.all %}
						  				<tr>
						  					<td>{{x.numero_iniciativas|default:'---'}}</td>
											<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_2_2_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_2_2_set.all %}
						  				<tr>
						  					<td>{{x.numero_iniciativas|default:'---'}}</td>
											<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_2_3_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_2_3_set.all %}
						  				<tr>
										  	<td>{{x.numero_modelos|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_2_4_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_2_4_set.all %}
						  				<tr>
										  	<td>{{x.numero_ofertas|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_2_5_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_2_5_set.all %}
						  				<tr>
						  					<td>{{x.numero_estudio|default:'---'}}</td>
											<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_3_1_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
			                        <th scope="col">Número de participantes</th>
			                        <th scope="col">Numero de eventos o iniciativas</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_3_1_set.all %}
						  				<tr>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.numero_participantes|default:'---'}}</td>
                                            <td>{{x.numero_eventos|default:'---'}}</td>
											  <td>{{x.fuente|default:'---'}}</td>
											  <td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_3_2_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
			                        <th scope="col">Número</th>
									<th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_3_2_set.all %}
						  				<tr>
										  	<td>{{x.numero_experiencias|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_3_3_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_3_3_set.all %}
						  				<tr>
										  	<td>{{x.numero_actores|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_4_1_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								   	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_4_1_set.all %}
						  				<tr>
										  	<td>{{x.numero_documentos|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_4_2_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_4_2_set.all %}
						  				<tr>
										  	<td>{{x.numero_documentos|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_4_3_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_4_3_set.all %}
						  				<tr>
										  	<td>{{x.numero_documentos|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto1_4_4_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto1_4_4_set.all %}
						  				<tr>
										  	<td>{{x.numero_estudio|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto2_5_1_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto2_5_1_set.all %}
						  				<tr>
										  	<td>{{x.numero_comite|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
						  					<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto2_5_2_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto2_5_2_set.all %}
						  				<tr>
										  	<td>{{x.numero_plataformas|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto2_6_1_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto2_6_1_set.all %}
						  				<tr>
										  	<td>{{x.numero_politica|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

					{% if obj.indproducto2_6_2_set.all %}
					<br>
		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
		  				<div class="table-responsive" id="tabla3">
		                    <table class="table table-bordered">
		                    	<caption>Indicador: {{obj.indicador}}</caption>
		                    	<thead>
			                      <tr>
								  	<th scope="col">Número</th>
			                        <th scope="col">Año</th>
			                        <th scope="col">Semestre</th>
									<th scope="col">Título y Fuente</th>
									<th scope="col">Url</th>
			                        <th scope="col">Archivo</th>
			                      </tr>
		                    	</thead>
		                    	<tbody>
		                    		{% for x in obj.indproducto2_6_2_set.all %}
						  				<tr>
										  	<td>{{x.numero_politica|default:'---'}}</td>
						  					<td>{{x.anio}}</td>
						  					<td>{{x.get_semestre_display}}</td>
											<td>{{x.fuente|default:'---'}}</td>
											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
						  				</tr>
						  			{% endfor %}
		                    	</tbody>
		                   </table>
		                </div>
		  			{% endif %}

            {% if obj.indproducto2_7_1_set.all %}
  					<br>
  		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
  		  				<div class="table-responsive" id="tabla3">
  		                    <table class="table table-bordered">
  		                    	<caption>Indicador: {{obj.indicador}}</caption>
  		                    	<thead>
  			                      <tr>
  								  	<th scope="col">Número</th>
  			                        <th scope="col">Año</th>
  			                        <th scope="col">Semestre</th>
  									<th scope="col">Título y Fuente</th>
  									<th scope="col">Url</th>
  			                        <th scope="col">Archivo</th>
  			                      </tr>
  		                    	</thead>
  		                    	<tbody>
  		                    		{% for x in obj.indproducto2_7_1_set.all %}
  						  				<tr>
  										  	<td>{{x.numero_politica|default:'---'}}</td>
  						  					<td>{{x.anio}}</td>
  						  					<td>{{x.get_semestre_display}}</td>
  											<td>{{x.fuente|default:'---'}}</td>
  											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
  						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
  						  				</tr>
  						  			{% endfor %}
  		                    	</tbody>
  		                   </table>
  		                </div>
  		  			{% endif %}

              {% if obj.indproducto2_7_2_set.all %}
    					<br>
    		  				<!-- <a href="" onclick="exportarXLS('tabla3'); return false;">Exportar</a> -->
    		  				<div class="table-responsive" id="tabla3">
    		                    <table class="table table-bordered">
    		                    	<caption>Indicador: {{obj.indicador}}</caption>
    		                    	<thead>
    			                      <tr>
    								  	<th scope="col">Número</th>
    			                        <th scope="col">Año</th>
    			                        <th scope="col">Semestre</th>
    									<th scope="col">Título y Fuente</th>
    									<th scope="col">Url</th>
    			                        <th scope="col">Archivo</th>
    			                      </tr>
    		                    	</thead>
    		                    	<tbody>
    		                    		{% for x in obj.indproducto2_7_2_set.all %}
    						  				<tr>
    										  	<td>{{x.numero_politica|default:'---'}}</td>
    						  					<td>{{x.anio}}</td>
    						  					<td>{{x.get_semestre_display}}</td>
    											<td>{{x.fuente|default:'---'}}</td>
    											<td>{% if x.url %}<a href="{{x.url}}" target="_blank">{{x.url}}</a>{% else %}---{% endif %}</td>
    						  					<td>{% if x.archivo %}<a href="/media/{{x.archivo}}" target="_blank">Descargar</a>{% else %}---{% endif %}</td>
    						  				</tr>
    						  			{% endfor %}
    		                    	</tbody>
    		                   </table>
    		                </div>
    		  			{% endif %}

				  {% endfor %}
             </div>
		</div>
	</div>
</div>
{% endblock content %}
